<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aiva S.A</title>

</head>

<body>

    <section id="acerca-de-aiva">
        <h1>Acerca de Aiva</h1>
        <p>Aiva es una compañía especializada en soluciones de Wealth Management para clientes afluentes y de alto patrimonio en América Latina y el Caribe.</p>
        <p>Durante 29 años de trayectoria, hemos desarrollado exitosamente diferentes segmentos y líneas de negocio con innovación, creatividad y compromiso como pilares principales de nuestra propuesta de valor. Un equipo multidisciplinario formado por más de 100 profesionales y plataformas tecnológicas a la vanguardia de la industria brindan soporte y eficiencia a nuestro modelo de negocios.</p>
        <p>Aiva está registrada en el Banco Central del Uruguay con licencia de asesor de inversión y gestor de portafolio, adherida al Código de Ética y Normas de Conducta Profesional de CFA Institute y cuenta con un Sistema de Gestión de la Seguridad de la Información alineado con la norma ISO/IEC 27001 v2013, que fue certificado por el Instituto Británico de Normalización (British Standard Institute – BSI).</p>
        <p>Aiva fue premiada en la categoría “Excelencia en Servicio al Cliente” para Latam en los International Investment Awards, edición 2019, 2020, 2021 y 2022. Además, en la edición 2022 recibió un segundo premio por “Excelencia en Mejores Prácticas de Asesoría” para Latam.</p>
        <p>También fue elegida por la reconocida publicación Global Banking & Finance Review en 2022 y 2023 como “Asset Management Company of the Year Uruguay” e “Investment Management Customer Satisfaction & Happiness Latam”.</p>
        <p>Global-Banking-Finance-Review-2022-23-Awards</p>
        <p>Uno de los mejores lugares para trabajar en Uruguay en 2022 según Great Place to Work</p>
        <p>Más de USD 3.000 millones en activos bajo administración</p>
        <p>Adheridos al Código de Ética y Normas de Conducta Profesional de CFA Institute
Sobre Nosotros.</p>
        <p>Premio Excelencia en Servicio al Cliente para Latam en los International Investment Awards 2019, 2020 y 2021</p>
    </section>

    <section id="que-hacemos">
        <h1>Qué hacemos</h1>
            <p>El modelo de Aiva está compuesto por cinco líneas de negocio diseñadas para atender de forma holística las necesidades financieras de clientes individuales e instituciones en América Latina y el Caribe.</p>
        <div class="negocio">
            <h2>Financial Planning:</h2>
            <p>Aiva Financial Planning brinda soluciones de inversión flexibles con acceso a una amplia variedad de activos financieros para ajustarse a las necesidades particulares de cada inversor.</p>
            <p>Ya sea a través de productos con acceso a las principales casas de fondos de inversión, para clientes buscando comenzar a construir e incrementar su capital, o productos de arquitectura abierta para inversores con mayor experiencia y necesidades más sofisticadas, nuestras soluciones de primer nivel internacional permiten llevar adelante una planificación financiera eficiente.</p>
            <p>Nuestro modelo de negocio cuenta con el soporte de plataformas online de primer nivel, que permiten tanto al asesor como al inversor la gestión y seguimiento de su cuenta en cualquier lugar en el que se encuentren</p>
            <p>A su vez, las cuentas prevén soluciones con herramientas que permiten la planificación sucesoria, mediante la nominación de beneficiarios y contando con medidas de protección adicional de activos a través de un trust.</p>
            <p>Por más información por favor entre en contacto con web.fp@aiva.com</p>
        </div>

        <div class="negocio">
            <h2>Private Wealth Management</h2>
            <p>A través de nuestra división Aiva Private Wealth Management, brindamos herramientas de planificación y protección patrimonial por medio de soluciones que se ajustan a la medida de cada cliente.</p>
            <p>Nuestras soluciones están diseñadas para cumplir con las necesidades de clientes de alto patrimonio, quienes priorizan tanto la protección como la transferencia eficiente del mismo a próximas generaciones de acuerdo a su preferencia.</p>
            <p>Además de los beneficios tradicionales que brindan las soluciones como puede ser el seguro de vida, nuestro modelo permite la disposición de una custodia monitoreada de activos, de forma que los clientes puedan mantener el relacionamiento y custodia con su banca privada de preferencia.</p>
            <p>Por más información por favor entre en contacto con web.pwm@aiva.com</p>

        </div>

        <div class="negocio">
            <h2>Asset Management</h2>
            <p>Experiencia y seguridad: lo que nos hace diferentes
Nuestro servicio Aiva Asset Management proporciona una sólida experiencia que cubre todas las necesidades de asesoramiento financiero y gestión de cuentas. De la extensa gama de estrategias de inversión en las que nos especializamos, se destacan:</p>
            <p>•	Servicios de Gestión de Fondos</p>
            <p>•	Manejo Discrecional de Activos</p>
            <p>•	Servicio de Advisory</p>
            <p>•	Análisis de Portafolio</p>
            <p>•	Dealing Support</p>
            <p>Para alcanzar una completa satisfacción, contamos con un sólido equipo de probada trayectoria formado por economistas, profesionales y especialistas con un promedio de 15 años de experiencia el sector financiero.</p>
            <h3>Nuestro proceso de inversión</h3>
            <p>Aiva Asset Management desarrolla un proceso de inversión enteramente dirigido al cumplimiento de los objetivos financieros de cada inversor, con un consistente track record de performance a lo largo de los años.</p>
            <h4> Un proceso de inversión probado y consistente, dedicado a impulsar el crecimiento.</h4>
            <p>1- análisis macroeconómico</p>
            <p>2- asignación estratégica</p>
            <p>3- seguimiento, servicio y rebalanceo</p>
            <p>1. El Comité de Inversiones realza un análisis en conjunto de los fundamentos macro-económicos de mediano y largo plazo, analizando los distintos indicadores y datos históricos para elaborar proyecciones para las distintas clases de activos.</p>
            <p>World Economic Outlook / Indicadores Económicos / Fundamentos de LP / Fondo Monetario Internacional / Banco Mundial / Bancos Comerciales Globales / Oficinas Estadísticas de cada país</p>
            <p>2. A partir del análisis macro realizado, y los perfiles de riesgo determinados, el Comité de Inversiones realiza la asignación estratégica de activos entre los principales asset-class y seleccionando los mejores instrumentos para cada categoría. La visión estratégica de largo plazo se complementa con asignaciones tácticas de más corto plazo.</p>
            <p>Asset Allocation</p>
            <p>Tactical Allocation</p>
            <p>3.  El seguimiento de la estrategia, y su correspondiente actualización son elementos fundamentales para alcanzar los objetivos financieros. De esta forma buscamos obtener buenas relaciones a nivel riesgo – rendimiento, siempre relativos a mercados.</p>
            <p>Conferencia Mensual</p>
            <p>Factsheets Mensuales</p>
            <p>Rebalanceo de portafolios</p>
            <p>
Este proceso de inversión se sustenta por el aval de nuestro Comité de Inversiones, cuya visión integral, potenciada por más de 15 expertos financieros de Colombia, México y Uruguay, garantiza la calidad de nuestras recomendaciones financieras. Este comité basa sus estrategias de inversión en un análisis fundamental considerando los dos enfoques “Top-down” y “Bottom-up”. En lo que respecta al análisis Bottom up se toma en cuenta el research de los analistas de las Casas de Fondos con las que tenemos alianzas estratégicas, dado que poseen un profundo conocimiento sobre las compañías en las que se invierten.”</p>
            <h4>Para alcanzar los diferentes objetivos, basamos nuestra propuesta en tres pilares fundamentales:</h4>
            <p>Un adecuado análisis cuali/cuantitativo</p>
            <p>Un riguroso control de riesgos</p>
            <p>La alineación con los perfiles de riesgo de los inversores</p>
            <p> Soluciones de inversión confiables</p>
            <p>Brindar seguridad financiera y un alto nivel de excelencia es nuestra prioridad. Por eso, todas nuestras soluciones inversión están respaldadas por herramientas de primer nivel como Bloomberg y Morningstar, que garantizan la calidad de nuestros análisis y recomendaciones.</p>
            <p>Dentro de nuestras soluciones de inversión, los fondos Golden Hind son una de las alternativas más interesantes.</p>
            <p>La gama de fondos Golden Hind, cuya Sicav basada en Luxemburgo posee diferentes alternativas de perfil de riesgo de acuerdo con el perfil de cada cliente, cuenta con custodia en Bank of New York, valuación diaria, auditoría de Deloitte y es UCITS compliant.</p>
            <p>Por más información por favor entre en contacto con web.am@aiva.com</p>
        </div>

        <div class="negocio">
            <h2>Corporate Solutions</h2>
            <p>Aiva Corporate Solutions se especializa en el diseño de programas de beneficios Corporativos a medida, con el fin de retener, atraer y fidelizar Ejecutivos, Gerentes y talento clave.</p>
            <p>A través de nuestra plataforma digital, facilitamos las condiciones entre la empresa y sus colaboradores que permiten cumplir las metas que la organización ha trazado para su talento clave a largo plazo.</p>
            <p>Brindamos soporte y seguimiento continuo a la empresa, además de proveer herramientas educativas financieras que facilitaran el desarrollo de los colaboradores vinculados al programa, fortaleciendo la fidelización y creando un diferenciador con su competencia.</p>
            <p>Por más información por favor entre en contacto con web.cs@aiva.com</p>
        </div>

        <div class="negocio">
            <h2>Aiva University</h2>
            <p>A través de una gama completa de cursos online, complementados con instancias presenciales en las Escuelas de negocios más prestigiosas de la región, brindamos capacitaciones y las herramientas necesarias para diferentes participantes de la industria financiera.</p>
            <p>Profesores Universitarios, Expertos Internacionales y Especialistas del Negocio compartiendo su conocimiento y visión en pos de desarrollar una carrera profesional destacada en el sector.</p>
            <p>Instrumentos Financieros, tendencias de la industria, perspectivas de mercados, regulaciones, negociación, liderazgo de equipos y mucho más, todo organizado en cursos y certificaciones para guiar en la formación profesional permanente.</p>
            <h3>Programas:</h3>
            <h4>Presenciales</h4>
            <p>A través de las Universidades más prestigiosas de tu país, participando de programas a medida, para desarrollar todas las habilidades necesarias para el crecimiento profesional.</p>
            <h4>Online</h4>
            <p>A tu ritmo y con todas las especializaciones técnicas del negocio, te acercamos todos los módulos y cursos necesarios para mantenerte actualizado con todos los temas del negocio.</p>
            <h4>Profesores universitarios</h4>
            <p>Participando en conferencias dictadas por los profesores universitarios más destacados de tu país, para conocer las mejores prácticas profesionales a nivel mundial.</p>
            <h4>Expertos internacionales</h4>
            <p>Te ayudarán a comprender y aprovechar las tendencias globales del negocio que moldearán a los consumidores en los próximos años.</p>
            <h4>Especialistas del negocio</h4>
            <p>Brindándote todo el conocimiento y apoyo específico para desarrollar tu negocio con todas las herramientas y servicios de soporte disponibles.</p>

        </div>

    </section>

    <section id="aiva-plus">
        <h1>Aiva+</h1>
        <p>Aiva+ es el programa que reúne y potencia el propósito de responsabilidad social de Aiva a través de la acción conjunta entre colaboradores, compañías, asesores y clientes para hacer una diferencia sustancial y acompañar los Objetivos de Desarrollo Sostenible.</p>
        <p>En Aiva desde hace años estamos comprometidos con el cuidado de las personas, la comunidad de la que somos parte y el planeta. Por eso apoyamos con horas de trabajo y con tiempo y recursos para acompañar el compromiso de cada organización.</p>
    </section>

    <section id="Contacto">
        <h1>Contacto</h1>
        <p>Si no encuentra la información que está buscando en este sitio web, o le gustaría hablar con alguien de nuestro personal regional, puede contactarnos por medio de los siguientes datos:</p>
        <p>URUGUAY
Montevideo
Tel: (+598) 2518 3518
Tel: (598) 2518 3519
Mail web@aiva.com
Dirección: Zonamerica – Ruta 8 km 17.500 Edif. Beta 3 – Of. 010 – Montevideo 91.600 – Uruguay / Horario de atención al público: Lunes a Viernes 9:00 a 17:00 h</p>
        <p>URUGUAY
Montevideo
Tel (+598) 2605 7615 / 7616 / 7618
Mail web@aiva.com
Dirección: Av. Bolivia 1330 – Of. 002 – Montevideo 11.500 – Uruguay / Horario de atención al público: Lunes a Viernes 9:00 a 17:00 h</p>
    </section>


</body>

</html>
